<div id="<%= dom_id novel %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Title:</strong>
    <%= novel.title %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">File:</strong>
    <%= novel.file %>
  </p>

  <% if action_name != "show" %>
    <%= link_to "Show this novel", novel, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to 'Edit this novel', edit_novel_path(novel), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
